[uwsgi]
chdir=/home/django/sale
pidfile=/home/django/sale_uwsgi.pid
socket=/home/django/sale_uwsgi.sock
chmod-socket=750
virtualenv=/home/django/venv
pythonpath=.
pythonpath=sale
module=sale.wsgi:application
callable=app
master=true
processes=10
harakiri=30
buffer-size=32768