{% extends 'my_bootstrap3.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}
{% block bootstrap3_content %}



    <div class="container-fluid secret">
        <div class="row centered">
        {% for service in services %}



            <a href="{% url 'service' service_id=service.id %}">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 centered">


                    <span class="pnum">{{ service.pnum }}. <i class="fa {{ service.ico }} "></i></span>
                    <br>
                      {{ service.action }}<br>






                </div>


            </a>

        {% endfor %}
        </div></div>




{% endblock %}

